body {
    font-family: Roboto, system-ui, -apple-system,'Segoe UI', sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 48px;
    align-items: center;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    background-color: #1F2937;
    color: #E5E7EB;
    align-items: baseline;
}

.header p { /* Header Logo */
    font-size: 24px;
    font-weight: bold;
    color: #F9FaF8;
    flex: 1;
}

.header a { /* Header Links */
    font-size: 18px;
    color: #E5E7EB;
    flex: 2;
}

/* Hero section */
.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    padding-top: 96px;
    padding-bottom: 132px;
}

.hero-container {
    flex: 1;
    padding-right: 16px;
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
}
.hero-image-placeholder {
    background-color: #6d747d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hero-container button {
    background-color: #3882F6;
    color: #f9faf8;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 17px;
    font-weight: 600;
}

/* Showcase */

.showcase {
    display: block;
}

.showcase>p {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.showcase .container {
    display: flex;
    justify-content: space-evenly;
}

.showcase .card {
    width: 168px;
    margin-bottom: 120px;
}

.card .illustration {
    border: 4px solid;
    border-radius: 10px;
    border-color: #3882F6;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 160px
}

.card>p {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: #4b5563;
}

/* Testimonial */
.testimonial {
    background-color: #E5E7EB;
    padding-top: 90px;
    padding-bottom: 120px;

}

.quote {
    padding-left: 132px;
    padding-right: 132px;
}

.testimonial p {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.quote .citation {
    text-align: right;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
}

/* Call to action */
.call_to_action {
    justify-content: stretch;
    padding-top: 90px;
    padding-bottom: 120px;
}

.call_to_action>.card{
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 8px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px 50px 120px;
}

.call_to_action .headline {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    
}
.call_to_action .body {
    margin: 0;
}

.call_to_action button {
    color: #f9faf8;
    background-color: transparent;
    border-color: #3882F6;
    border: 2px solid;
    border-radius: 10px;
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 17px;
    font-weight: 600;
}

/* Footer */
.footer {
    text-align: center;
    font-size: 18px;
    background-color: #1F2937;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
}
