body {
    font-family: Roboto, system-ui, -apple-system,'Segoe UI', sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 48px;
    align-items: center;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    background-color: #1F2937;
    color: #E5E7EB;
    align-items: baseline;
}

.header p { /* Header Logo */
    font-size: 24px;
    font-weight: bold;
    color: #F9FaF8;
    flex: 1;
}

.header a { /* Header Links */
    font-size: 18px;
    color: #E5E7EB;
    flex: 2;
}

/* Hero section */
.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    padding-top: 128px;
    padding-bottom: 128px;
}

.hero-container {
    flex: 1;
    padding-right: 16px;
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-subtext {
    color: #E5E7EB;
}
.hero-image-placeholder {
    background-color: #6d747d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}